{% extends "base.html.twig" %}

{% block title 'Photographe Margaux Besson' %}

{% block body %}
<div class="main container-fluid align-items-center" id="header">
    <div class="text-center mt-4 text-warning col-12">
        <h1 class="titleLine text-warning text-center m-auto">Margaux Besson</h1>
        <h2 class="opacityTitle text-warning">Photographe en Charente Maritime</h2>
        <p>(et partout dans le monde)</p>
    </div>
    <div class="align-self-center">
        <div class="wrapper m-auto col-10 col-sm-6 col-lg-8 col-xl-6 " style="padding: 25px;">
            {% for photo in mosaique %}
                <img class="img-fluid" src="{{ photo.title }}" alt="{{ photo.title }}">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}